<%- include('../partials/header') %>

<h3 class="elist">Edit Event</h3>
<div class="container-edit">
  <form action="../../events/<%= event.id %>?_method=put" method="POST">
    <label>Event Name:<br>
      <input type="text" name="title" value="<%= event.title %>">
    </label><br><br>
    <label>Date:<br>
      <input type="datetime-local" class="form-control date-form" name="date" value="<%= event.date %>">
    </label><br><br>
    <label>Location: <br>
      <input type="text" name="destination" value="<%= event.destination %>">
    </label><br><br>
    <label>Details: <br>
      <input type="text" name="details" value="<%= event.details %>">
    </label><br><br>
    <label> Event created by <%= username.name %></label><br>
    <input type="hidden" name="user" value="<%= event.user %>">
    <div class="btn-edit">
      <button class="btn btn-outline-secondary" type="submit">Submit Changes</button>
    </div>
  </form>
</div>
  
</body>
</html>


