<%- include('../partials/header') %>

<h3 class="elist">Upcoming Events</h1>

<button class="btn btn-secondary btnsort btn-sm dropdown-toggle bg-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Date
  </button>
  <div class="dropdown-menu">
    ...
  </div> 
<button class="btn btn-secondary btnsort btn-sm dropdown-toggle bg-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Category
  </button>
  <div class="dropdown-menu">
    ...
  </div> 

  <div class="card flex-row flex-wrap">
      <img class="evt" src="//placehold.it/100" alt="">
    <div class="card-block px-3">
      <h5 class="card-title">Title</h5><br>
        <h6 class="card-text"><img class="card-icon" src="/images/calendar.png">Date / Time</h6>
        <h6 class="card-text"><img class="card-icon" src="/images/location.png">Location</h6>
      </div>
    </div>

<!-- <div id="evts-idx">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Event</th>
        <th>Date</th>
        <th>Created By</th>
      </tr>
    </thead>
    <tbody>
      <% evts.forEach(function(e) { %>
        <% let name = e.user %>
        <tr>
          <td>
            <form action="/events/<%= e._id %>?_method=DELETE" method="POST" class="delete">
              <button type="submit">x</button>
            </form>
          </td>
          <td><%= e.title %></td>
          <td><%= e.date %></td>
          <td><%= name %></td>
          <td><a href="/events/<%= e._id %>">Details</a></td>
        </tr>
        <% }); %>
      </tbody>
  </table>
</div> -->

</body>