<%- include('../partials/header') %>

<div class="container flex-column">
  <div class="card-block event-show">
    <h5 class="card-title-show"><%= event.title %></h5><br>
    <div class="card-text-show card-details">
        <%= event.details %>
    </div>
    <div>
      <img class="card-icon-s" src="/images/calendar.png">
    </div>
      <h6 class="card-text-show">Date And Time</h6>
      <div class="card-text-show">
          <%= event.date %>
        </div>
      <img class="card-icon-s" src="/images/location.png">
      <h6 class="card-text-show">Location</h6>
      <div class="card-text-show">
          <%= event.destination %>
      </div>
    </div>
    <a href="/events/<%= event._id %>/edit" class="btn-register btn btn-outline-secondary">Edit</a>
  </div>

