<%- include('../partials/header') %>

<div class="container-show flex-column">
  <div class="card-block event-show">
    <h5 class="card-title-show"><%= event.title %></h5><br>
    <div class="card-text-show card-details">
        <%= event.details %>
    </div>
    <div class="card-icon-con">
      <img class="card-icon-s" src="/images/calendar.png">
    </div>
      <h6 class="card-text-show">Date And Time</h6>
      <div class="card-text-show">
          <%= event.date %>
        </div>
    <div class="card-icon-con">
      <img class="card-icon-s" src="/images/location.png">
    </div>
      <h6 class="card-text-show">Location</h6>
      <div class="card-text-show">
          <%= event.destination %>
      </div>
      <h6 class="card-text-show-name">Event created by <%= username.name %></h6>
    </div>
    <% if (username.name === user.name) { %>
      <a href="/events/<%= event._id %>/edit" class="btn-register btn btn-outline-secondary">Edit</a>
    <% } %> 
  </div>

  <div class="container-comm">
    <form action="/events/<%= event._id %>/comments" method="POST">
      <div class="form-group comment-box">
        <label for="comment-text">Add comments:</label>
        <textarea name="comment" class="form-control" id="comment-text" rows="2"></textarea>
        <input type="hidden" value="<%= user %>">
        <div class="btn-com-sub">
          <button type="submit" class="btn btn-com btn-secondary btn-sm">Submit</button>
        </div>
      </div>
    </form>
  </div>

