<%- include('../partials/header') %>

<div class="container-show flex-column">
  <div class="card-block event-show">
    <h5 class="card-title-show"><%= event.title %></h5>
    <% if (username.name === user.name) { %>
      <div class="edit-link">
        <a href="/events/<%= event._id %>/edit" class=""><i class="fas fa-pen"></i></a>
      </div>
    <% } %> 
    <div class="card-text-show card-details">
        <%= event.details %>
    </div>
    <div class="card-icon-con">
      <img class="card-icon-s" src="/images/calendar.png">
    </div>
      <h6 class="card-text-show">Date And Time</h6>
      <div class="card-text-show">
          <%= event.date %>
        </div>
    <div class="card-icon-con">
      <img class="card-icon-s" src="/images/location.png">
    </div>
      <h6 class="card-text-show">Location</h6>
      <div class="card-text-show">
          <%= event.destination %>
      </div>
      <h6 class="card-text-show-name">Event created by <%= username.name %></h6>
    </div>
    
    <div class="container-comm">
      <% if (event.comments.length) { %>
        <div class="comments">
          <h5>Comments:</h5>
          <% event.comments.forEach(function(c) { %>
            <p class="card-text comtext"><%= c.userN %>: <%= c.comment %></p>
          </div>
          <% }); %>
          <% } %>
          
          <form class="form-comment" action="/events/<%= event._id %>/comments" method="POST">
            <div class="form-group comment-box">
              <label for="comment-text">Add comments:</label>
              <textarea name="comment" class="form-control" id="comment-text" rows="2"></textarea>
              <input type="hidden" name="userN" value="<%= user.name %>">
              <div class="btn-com-sub">
                <button type="submit" class="btn btn-com btn-secondary btn-sm">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      
    </div>

