<%- include('../partials/header') %>

<!-- <section id="evt-dtls">
  <h1 class="e-details">Event Details</h1>
  <%= event.title %> <br><br>
  Date: 
  <%= event.date %> <br><br>
  Category:
  <%= event.category %> <br><br>
  Location:
  <%= event.destination %> <br><br>
  Created By:
  <%= event.user %> <br><br>

  <a href="/events/<%= event._id %>/edit">Edit</a>
  
</section> -->
